<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>mahjong</title>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>
<body>

<header><h1>麻雀の遊び方</h1></header>
<main>
<div class = "first_pi">
<img th:src="@{/img/p_r_001.png}">
</div>
<div class = "parent">
	<div class = "left_pi"><img th:src="@{/img/p_r_002.png}"></div>

		<div class = "my_pi">
		<div class = "little_parent">
			<div class = "little_left"><img th:src="@{/img/p_ss4_1.gif}" style = "margin-top: 100px;">
				<form method = "post" action="/mahjong/doWhich2">
					<input type="radio" id="1" name="which" value="p1">ロン
					<input type="radio" id="1" name="which" value="p2">ロンじゃない
					<input type="radio" name="which"value="p3" checked="checked" style="display:none;" />
					<br>
					<input type="submit" value="採点する" class="button"/>
				</form>		
			</div>
			<div class = "little_top">
			<img th:src="@{/img/p_ss1_1.gif}"style = "margin-top: 10px;">
				<form method = "post" action="/mahjong/doWhich3">
					<input type="radio" id="1" name="which" value="q1">ロン
					<input type="radio" id="1" name="which" value="q2">ロンじゃない
					<input type="radio" name="which"value="q3" checked="checked" style="display:none;" />
					<br>
					<input type="submit" value="採点する" class="button"/>
				</form>
			</div>
			<div class = "little_right">
			<img th:src="@{/img/p_ms1_1.gif}"style = "margin-top: 100px;">
				<form method = "post" action="/mahjong/doWhich4">
					<input type="radio" id="1" name="which" value="r1">ロン
					<input type="radio" id="1" name="which" value="r2">ロンじゃない
					<input type="radio" name="which"value="r3" checked="checked" style="display:none;" />
					<br>
					<input type="submit" value="採点する" class="button"/>
				</form>
			</div>
		</div>
		<div class = "little_bottom"></div>
		<div class = "real_my_pi">
					<ul>
				<li><img th:src="@{/img/p_ms2_1.gif}"></li>
				<li><img th:src="@{/img/p_ms3_1.gif}"></li>
				<li><img th:src="@{/img/p_ms4_1.gif}"></li>
				<li><img th:src="@{/img/p_ss2_1.gif}"></li>
				<li><img th:src="@{/img/p_ss3_1.gif}"></li>
				<li><img th:src="@{/img/p_ss4_1.gif}" style = "display: none;"></li>
				<li><img th:src="@{/img/p_ps2_1.gif}"></li>
				<li><img th:src="@{/img/p_ps3_1.gif}"></li>
				<li><img th:src="@{/img/p_ps4_1.gif}"></li>
				<li><img th:src="@{/img/p_ms6_1.gif}"></li>
				<li><img th:src="@{/img/p_ms6_1.gif}"></li>
				<li><img th:src="@{/img/p_ms6_1.gif}"></li>
				<li><img th:src="@{/img/p_ji_e_1.gif}"></li>
				<li><img th:src="@{/img/p_ji_e_1.gif}"></li>
			</ul>
		
		</div>
<!-- 		<div class = "btn">
        		<h2><a href="/mahjong/SecondQuestion/secondAnswer" class="button">次に進む！</a></h2>
        </div> -->
	</div>
	<div class = "right_pi"><img th:src="@{/img/p_r_002.png}"></div>
</div>


<!--         <div class="first">
        	<h2>(未実装)ロンorロンじゃない</h2>
			<ul>
				<li><img th:src="@{/img/p_ms2_1.gif}"></li>
				<li><img th:src="@{/img/p_ms3_1.gif}"></li>
				<li><img th:src="@{/img/p_ms4_1.gif}"></li>
				<li><img th:src="@{/img/p_ss2_1.gif}"></li>
				<li><img th:src="@{/img/p_ss3_1.gif}"></li>
				<li><img th:src="@{/img/p_ss4_1.gif}"></li>
				<li><img th:src="@{/img/p_ps2_1.gif}"></li>
				<li><img th:src="@{/img/p_ps3_1.gif}"></li>
				<li><img th:src="@{/img/p_ps4_1.gif}"></li>
				<li><img th:src="@{/img/p_ms6_1.gif}"></li>
				<li><img th:src="@{/img/p_ms6_1.gif}"></li>
				<li><img th:src="@{/img/p_ms6_1.gif}"></li>
				<li><img th:src="@{/img/p_ji_e_1.gif}"></li>
				<li><img th:src="@{/img/p_ji_e_1.gif}"></li>
			</ul>
        </div>
        <div class = "btn">
        		<h2><a href="/mahjong/SecondQuestion/secondAnswer" class="button">次に進む！</a></h2>
        </div> -->
</main>
<footer></footer>

</body>
</html>