<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>mahjong</title>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>
<body>

<header><h1>麻雀の遊び方</h1></header>
<main>
        <div class="first">
        	<h2>不正解です</h2>
        	
        	<div class = "btn">
        		<h2><a href="/mahjong/FirstQuestion/firstQuestion" class="button">もう一度やる</a></h2>
        	</div>
        </div>

</main>
<footer></footer>

</body>
</html>