<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>mahjong</title>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>
<body>

<header><h1>麻雀の遊び方</h1></header>
<main>
        <div class="first">
        	<h2>平和(ピンフ)です</h2>
			<ul>
				<li><img th:src="@{/img/p_ms2_1.gif}"></li>
				<li><img th:src="@{/img/p_ms3_1.gif}"></li>
				<li><img th:src="@{/img/p_ms4_1.gif}"></li>
				<li><img th:src="@{/img/p_ss2_1.gif}"></li>
				<li><img th:src="@{/img/p_ss3_1.gif}"></li>
				<li><img th:src="@{/img/p_ss4_1.gif}"></li>
				<li><img th:src="@{/img/p_ps2_1.gif}"></li>
				<li><img th:src="@{/img/p_ps3_1.gif}"></li>
				<li><img th:src="@{/img/p_ps4_1.gif}"></li>
				<li><img th:src="@{/img/p_ms6_1.gif}"></li>
				<li><img th:src="@{/img/p_ms7_1.gif}"></li>
				<li><img th:src="@{/img/p_ms8_1.gif}"></li>
				<li><img th:src="@{/img/p_ss7_1.gif}"></li>
				<li><img th:src="@{/img/p_ss7_1.gif}"></li>
			</ul>
        </div>
        <div class = "btn">
        		<h2><a href="/mahjong/secondAnswer" class="button">問題に進む！</a></h2>
        </div>
</main>
<footer></footer>

</body>
</html>