<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>mahjong</title>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>
<body>

<header><h1>麻雀の遊び方</h1></header>
<main>
        <div class="first">
        	<h2>この形は平和ですか？</h2>
			<ul>
				<li><img th:src="@{/img/p_ms2_1.gif}"></li>
				<li><img th:src="@{/img/p_ms3_1.gif}"></li>
				<li><img th:src="@{/img/p_ms4_1.gif}"></li>
				<li><img th:src="@{/img/p_ss2_1.gif}"></li>
				<li><img th:src="@{/img/p_ss3_1.gif}"></li>
				<li><img th:src="@{/img/p_ss4_1.gif}"></li>
				<li><img th:src="@{/img/p_ps2_1.gif}"></li>
				<li><img th:src="@{/img/p_ps3_1.gif}"></li>
				<li><img th:src="@{/img/p_ps4_1.gif}"></li>
				<li><img th:src="@{/img/p_ms6_1.gif}"></li>
				<li><img th:src="@{/img/p_ms7_1.gif}"></li>
				<li><img th:src="@{/img/p_ms8_1.gif}"></li>
				<li><img th:src="@{/img/p_ss7_1.gif}"></li>
				<li><img th:src="@{/img/p_ss7_1.gif}"></li>
			</ul>
        </div>
        
        <form method = "get" action="/mahjong/doWhich2">
        	<input type="radio" id="1" name="which2" value="win">
      		<label for="huey">平和</label>
        	<input type="radio" id="2" name="which2" value="lose">
      		<label for="dewey">平和ではない</label>
      		<br>
      		<input type="submit" value="採点する" class="button"/>
        </form> 
</main>
<footer></footer>

</body>
</html>